<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Contacts</title>
 </head>
 <body>

  <form action="/contacts" method="post">
  	<div class="form-group">
    	<label>Ваш Email</label>
    	<input name="email" type="email" class="form-control" placeholder="Email">
  	</div>

    <p><b>Введите ваш отзыв:</b></p>
    <textarea name="text" class="form-control" rows="3"></textarea>
    <p></p>
    <p><input type="submit" class="btn btn-primary" value="Отправить"></p>
  </form>

 </body>
</html>