<!DOCTYPE html>
<html>
<head>
  <title>Форма для записи</title>
</head>
<body>
  <h2>Записаться</h2>
  <p>На этой странице Вы можете записаться к нам</p>

  <script type="text/javascript">
    $(function () {
      //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
      $('#datetimepicker').datetimepicker(
          {language: 'ru', 
          useMinutes: false
          });   
        });
  </script>

<form action="/form" method="POST">
    <div class="form-group">
      <label>Ваше имя</label>
      <input name="username" type="text" class="form-control" value="<%=@username%>" placeholder="Введите Ваше имя">
    </div>

    <div class="form-group">
      <label>Номер телефона</label>
      <input name="phonenumber" type="text" class="form-control" value="<%=@phone%>" placeholder="Телефон">
    </div>

    <div class="form-group">
    <label>Когда вас ждать?</label>
      <input id="datetimepicker" name="datetime" type="text" class="form-control" value="<%=@date%>" placeholder="  Введите дату и время">
    </div> 
  
  <div class="form-group">
    <label>Выберите грумера</label>
    <select name="barber_id" class="form-control">
      <option>WW</option>
      <option>Jessie Pinkman</option>
      <option>Gas</option>
    </select>
  </div>

  <div class="form-group">
      <label>Выберите модель собаки</label>
      <select name="dog_type" class="form-control">
          <option>Прикольная собачка</option>
          <option>Собака-урод</option>
          <option>Большая собака</option>
          <option>Нахуй так жить</option>
      </select>
  </div>

  <button type="submit" class="btn btn-primary">Да, побрейте ее!</button>
</form>

</body>
</html>
