<form action="/visit" method="post" >
    <div class="form-group">
      <label>Ваше имя</label>
      <input name="name" type="text" class="form-control" placeholder="Имя">
    </div>
    <div class="form-group">
      <label>Ваш телефон</label>
      <input name="phone" type="text" class="form-control" placeholder="Номер телефона">
    </div>
    <div class="form-group">
      <label>Выберите модель собаки</label>
      <select name="dog_model" class="form-control">
        <option>Прикольная собачка</option>
        <option>Большая собака</option>
        <option>Нахуй так жить</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Записаться</button>
</form>